{% extends "base.html" %}

{% block header %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-13STQ6G21R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-13STQ6G21R');
</script>

{{ super() }}
{% endblock %}

{% block footer %}
<p>Hit #: <script type="text/javascript" src="https://counter.websiteout.com/js/35/0/0/1"></script><br></p>
{{ super() }}
{% endblock %}
