{% extends "base.html" %}

<!-- For custom author CSS -->
{% block extrahead %}
{% if page and page.meta and page.meta.authors %}
<!--suppress HtmlUnknownTarget -->
<link href="/stylesheets/author-{{ page.meta.authors[0] }}.css" rel="stylesheet">
{% endif %}
{{ super() }}
{% endblock %}

{% block footer %}
<!-- Page view counter. Depends on URL. -->
<p>Hit #:
    <script type="text/javascript" src="https://counter.websiteout.com/js/35/0/0/1"></script>
    <br></p>
{{ super() }}
{% endblock %}
</div>