---
date: 2025-09-03T21:58:56.478492
draft: true
authors:
- areseven
categories:
- areseven
---

# test run

Hello I am AreSeven. Here's a collection of some of the syntax for the blogs which I need to remember. Definitely more useful in the long term than a simple introduction.


# h1
## h2
### h3
#### h4
##### h5
###### h6

![lemon](img_6.png)

<!-- more -->

> melon


!!! Info

    I am a blue woman. Yay!
    ![areseven commander.png](areseven%20commander.png)
    
??? Note "Seven"
    
    hi

???+ warning

    oops uh..
    
!!! question
    
    Jello, there

[https://squidfunk.github.io/mkdocs-material/reference/admonitions/?h=admonition#+type:abstract](https://squidfunk.github.io/mkdocs-material/reference/admonitions/?h=admonition#+type:abstract)



